$card-shadow: 0 5px 15px 0 rgba(206, 214, 223, 0.15);

:host {

    ion-card {
        @include rem(height, 200px);
        @include rem(width, 200px);
        text-align: center;
        // box-shadow: $card-shadow;
        border-radius: 5px;

        &:hover {
            border: 3px solid $ui-green;
            background: rgba(0, 0, 0, 0.6);
            ion-card-content {
                .text-container {
                    .card-title {
                        visibility: visible;
                    }
                }
            }
        }

        ion-card-content {
            @include width-height-100();
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            .text-container {
                align-self: center;
                z-index: 1;

                .card-title {
                    visibility: hidden;
                    font-size: 1.5em;
                    font-weight: bold;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $white;
                }
            }

            .topic-image {
                @include absolute-position-cover();
                z-index: 0;
                flex: 1;
                opacity: 0.6;
            }
        }
    }
}