:host {
    ion-content {
      background: $black;
      /deep/ion-scroll {
        background: transparent;
        padding: 15px;
        .scroll-inner {
          .cards-container {
            display: grid;
            grid-template-columns: repeat(auto-fit, 13.625rem);
          }
        }
    }
    dev-side-menu {
      opacity: 0;
    }
  }
}
